<html>
<head>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }
        .container {
            background-color: #ffffff;
            max-width: 600px;
            margin: 0 auto;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
            overflow: hidden;
        }
        .header {
            background-color: #00a8e8;
            color: white;
            padding: 20px;
            text-align: center;
        }
        .header img {
            max-width: 100px;
        }
        .content {
            padding: 20px;
            color: #333333;
            line-height: 1.6;
        }
        .content h1 {
            font-size: 24px;
            margin-bottom: 10px;
            text-align: center;
        }
        .content p, .content ul {
            margin: 10px 0;
            text-align: left; /* Aligning text to the left */
        }
        .btn {
            display: inline-block;
            padding: 12px 20px;
            background-color: #00a8e8;
            color: white;
            text-decoration: none;
            font-size: 16px;
            border-radius: 5px;
            transition: background-color 0.3s ease;
            text-align: center;
        }
        .btn:hover {
            background-color: #007bb5;
        }
        .footer {
            background-color: #f4f4f4;
            padding: 20px;
            text-align: center;
            color: #999999;
            font-size: 12px;
        }
    </style>
</head>
<body>

    <div class="container">
        <!-- Header with logo -->
        <div class="header">
            <h1>Himmel</h1>
        </div>

        <!-- Content -->
        <div class="content">
            <h1>Request Reset Password</h1>
            <br>
            <p>Halo, {{name}}! <br>Kami menerima request untuk reset password akun kamu. Untuk melanjutkan proses, silakan klik tombol di bawah ini :</p>
<br>
            <!-- Verifikasi Button -->
            <p style="text-align: center;">
                <a href="{{link}}" class="btn">Reset Password</a>
            </p>
<br>
            <p>Link ini akan berlaku selama 15 menit. Jika kamu tidak mengirimkan request untuk perubahan password terhadap akun ini, tolong abaikan email ini atau hubungi tim kami segera.</p>
            <p>Untuk keamanan akun :</p>
            <ul>
                <li>Jangan bagikan link kepada orang lain.</li>
                <li>Tim kami tidak akan pernah meminta link.</li>
            </ul>
            <p>Hormat kami,<br> Tim Keamanan Himmel</p>
        </div>

        <!-- Footer -->
        <div class="footer">
            <p>&copy; 2025 Himmel. All rights reserved.</p>
        </div>
    </div>

</body>
</html>
